.about-company {
  margin-bottom: 99px;

  @media (max-width: $vp-770) {
    margin-bottom: 60px;
  }

  @media (max-width: $vp-320) {
    margin-bottom: 72px;
  }
}

.about-company h2 {
  font-family: $font--roboto-regular;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $dark-color;

  @media (max-width: $vp-320) {
    font-size: 28px;
  }
}

.about-company__container {
  margin-left: 210px;

  @include vp-769 {
    margin: 0;
  }

  @media (max-width: $vp-770) {
    margin-left: 200px;

    h2 {
      margin-top: 7px;
      margin-bottom: 32px;

      @media (max-width: $vp-320) {
        margin-bottom: 23px;
      }
    }
  }
}

.about-company__block {
  position: relative;
  padding-right: 0;
}

.about-company__block::before {
  content: "";
  position: absolute;
  background-image: image-set("../img/about-company.png" 1x, "../img/about-company@2x.png" 2x);
  background-repeat: no-repeat;
  width: 200px;
  height: 320px;
  left: 0;
  top: 51px;

  @media (max-width: $vp-1440) {
    left: 8%;
  }

  @media (max-width: $vp-1024) {
    left: 0;
  }

  @media (max-width: $vp-770) {
    left: 44px;
    top: 34px;
  }

  @include vp-769 {
    display: none;
  }
}

.about-company__text {
  font-family: $font--pt-mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $dark-color;
  margin-top: -18px;
  margin-bottom: 38px;

  p {
    margin-bottom: 21px;

    &:not(:first-child) {
      margin: 0;
    }
  }

  @media (max-width: $vp-1280) {
    line-height: 22px;
  }

  @media (max-width: $vp-770) {
    line-height: 22px;
    margin-bottom: 10px;
  }

  @media (max-width: $vp-320) {
    font-size: 14px;
    line-height: 134.4%;
  }
}

.about-company__mobile {
  margin: 0;

  @media (max-width: $vp-320) {
    display: none;
  }
}

.about-company__button {
  font-family: $font--roboto-regular;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $blue;
  border: 1px solid $blue;
  border-radius: 3px;
  padding: 14px 48px;

  @media (max-width: $vp-320) {
    padding: 10px 40px;
  }
}

.about-company__button:hover {
  opacity: 0.8;
}

.about-company__button:active {
  opacity: 0.3;
}

.about-company__continuation {
  display: none;
}
