.advantages {
  margin-bottom: 48px;

  @media (max-width: $vp-320) {
    margin-bottom: -14px;
  }
}

.advantages__list {
  list-style: none;
  display: grid;
  grid-template-columns: 595px 595px;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  gap: 30px;

  @media (max-width: $vp-1440) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat("2, minmax(0,1fr)");
  }

  @media (max-width: $vp-770) {
    padding: 0 50px;
    align-items: start;
  }

  @media (max-width: 700px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.advantages__item {
  min-height: 300px;
  border: 2px solid $light-grey;
  border-left: 5px solid $blue;
  padding: 37px 44px 30px 40px;
  cursor: pointer;

  @media (max-width: $vp-1024) {
    min-height: 340px;
  }

  @media (max-width: $vp-770) {
    padding: 38px 35px 0 40px;
    min-height: 360px;
  }

  @media (max-width: $vp-320) {
    min-height: 340px;
    width: 270px;
    border: 1px solid $light-grey;
    border-left: 5px solid $blue;
    padding: 26px 32px 20px 25px;
  }
}

.advantages__item:hover {
  background-color: $blue;
  border: 2px solid $blue;

  h3,
  p,
  svg path {
    color: $white;
    fill: $white;
  }
}

.advantages__item h3 {
  font-family: $font--roboto-regular;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 140%;
  color: $blue;
  margin-top: 15px;
  margin-bottom: 13px;

  @media (max-width: $vp-770) {
    margin-top: 11px;
    margin-bottom: 7px;
  }

  @media (max-width: $vp-320) {
    font-size: 20px;
  }
}

.advantages__item p {
  font-family: $font--pt-mono;
  font-style: normal;
  font-size: 16px;
  line-height: 135%;
  color: $dark-color;
  margin: 0;

  @media (max-width: $vp-320) {
    font-size: 14px;
  }
}
