.contacts__list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding-left: 14px;

  @include vp-1023 {
    padding: 0;
    justify-content: flex-end;
    margin: 7px 26px 0 auto;
    padding-right: 11px;
  }

  @include vp-769 {
    margin: 5px -7px 0 auto;
  }

  @media (max-width: $vp-320) {
    margin-right: 17px;
  }
}

.contacts__item:not(:last-child) {
  margin-right: 123px;

  @media (max-width: $vp-1440) {
    margin-right: 20px;
    margin-left: 40px;
  }

  @media (max-width: $vp-770) {
    margin-right: 30px;
  }

  @include vp-769 {
    margin-left: 0;
  }
}

.contacts__item-svg {
  display: flex;
  color: $light-color;

  svg {
    margin-right: 15px;
  }
}

.contacts__item-svg:hover {
  opacity: 0.8;
}

.contacts__item-svg:active {
  opacity: 0.3;
}

.contacts__item-svg img {
  margin-right: 12px;

  @media (max-width: $vp-320) {
    margin-right: 8px;
  }
}

.contacts__mail {
  @include vp-1023 {
    display: none;
  }
}

.contacts__phone {
  @include vp-1023 {
    display: none;
  }
}
