.contacts__list {
  display: grid;
  list-style: none;
  padding-left: 12px;
  grid-template-columns: 1fr 1fr;

  @media (max-width: $vp-1440) {
    padding-left: 0;
  }

  @include vp-1023 {
    padding: 0;
    justify-content: flex-end;
    margin: 10px 6px 0 auto;
    padding-right: 11px;
  }

  @include vp-769 {
    margin: 5px -7px 0 auto;
  }

  @media (max-width: $vp-320) {
    margin-right: 0;
  }
}

.contacts__item:not(:last-child) {
  margin-right: 36px;
  min-width: 215px;
  margin-bottom: 10px;

  @media (max-width: $vp-1440) {
    margin-right: 9px;
    min-width: auto;

  }

  @media (max-width: $vp-770) {
    margin-right: 24px;
  }

  @include vp-769 {
    margin-left: 0;
    margin-right: 22px;
  }
}

.contacts__item-svg {
  display: flex;
  color: $light-color;

  svg {
    margin-right: 15px;
  }
}

.contacts__item-svg:hover {
  opacity: 0.8;
}

.contacts__item-svg:active {
  opacity: 0.3;
}

.contacts__item-svg img {
  margin-right: 12px;

  @media (max-width: $vp-320) {
    margin-right: 8px;
  }
}

.contacts__mail {
  @include vp-1023 {
    display: none;
  }
}

.contacts__phone {
  @include vp-1023 {
    display: none;
  }
}
