.contacts {
}

.contacts__list {
  display: flex;
  list-style: none;
  padding-left: 28px;
  flex-wrap: wrap;

  @media (max-width: $vp-770) {
    padding: 0;
    justify-content: flex-end;
    margin: 11px 42px 0 auto;
  }

  @media (max-width: $vp-320) {
    margin: 5px 37px 0 auto;
  }
}

.contacts__item:not(:last-child) {
  margin-right: 123px;

  @media (max-width: $vp-1440) {
    margin-right: 20px;
  }

  @media (max-width: $vp-770) {
    margin-right: 30px;
  }
}

.contacts__item-svg {
  display: flex;
  color: $light-color;
}

// .contacts__item-svg span {
//   @media (max-width: $vp-1280) {
//     display: none;
//   }
// }

.contacts__item-svg img {
  margin-right: 12px;

  @media (max-width: $vp-320) {
    margin-right: 8px;
  }
}

.contacts__mail {
  @media (max-width: 870px) {
    display: none;
  }
}

.contacts__phone {
  @media (max-width: 870px) {
    display: none;
  }
}

.contacts__open-modal {
  background: transparent;
  padding: 10px 15px;
  color: $light-color;
  text-transform: uppercase;
  font-family: $font--roboto-bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  border: 1px solid $light-color;
  border-radius: 3px;
  cursor: pointer;
  min-height: 40px;
  margin-top: 5px;

  @media (max-width: $vp-770) {
    display: none;
  }
}
