.feedback {
  background-color: $blue;
  min-height: 840px;

  @media (max-width: $vp-1440) {
    min-height: 600px;
  }

  @media (max-width: $vp-770) {
    min-height: 580px;
  }
}

.feedback__container {
  z-index: 4;
}

.feedback__layout-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 135px;

  & picture {
    z-index: 3;

    @media (max-width: $vp-1024) {
      display: none;
    }
  }

  @media (max-width: $vp-770) {
    display: block;
    padding: 17px 54px;
  }

  @media (max-width: $vp-320) {
    padding-bottom: 89px;
  }
}

.feedback__layout-container::before {
  content: "";
  position: absolute;
  width: 0;
  left: -15px;
  bottom: 278px;
  border-top: 860px solid rgba(4, 24, 39, 0.5);
  border-right: 998px solid transparent;

  @media (max-width: $vp-1024) {
    display: none;
  }
}

.feedback__image {
  z-index: 2;
  margin-right: 120px;
  margin-top: 110px;
  margin-left: -40px;

  @media (max-width: $vp-1024) {
    display: none;
  }
}

.feedback__group h2 {
  font-family: $font--roboto-regular;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  color: $white;
  margin-bottom: 11px;
  margin-left: -5px;

  @media (max-width: $vp-320) {
    font-size: 30px;
    line-height: 140.62%;
    margin: 37px 0 7px;
  }
}

.feedback__group p {
  font-family: $font--pt-mono;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  margin: 15px 0;

  @media (max-width: $vp-1440) {
    margin: -5px 0 0 -3px;
  }

  @media (max-width: $vp-320) {
    font-size: 14px;
    line-height: 134.4%;
    margin: 0;
  }
}
