.form {
  margin-top: 32px;

  @media (max-width: $vp-770) {
    margin-top: 23px;
  }

  @media (max-width: $vp-320) {
    margin-top: 34px;
  }
}

.form__input {
  display: flex;
  justify-content: space-between;

  ::placeholder {
    color: $white;
  }

  @media (max-width: $vp-1440) {
    justify-content: flex-start;
    gap: 35px;

    &--modal {
      gap: 0;
    }
  }

  @media (max-width: $vp-770) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 31px;
  }

  @include vp-769 {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.form__input--modal {
  display: flex;
  flex-direction: column;
}

.form__container::before {
  content: "";
  background-image: url("../img/paper-airplane.png");
  background-repeat: no-repeat;
  width: 510px;
  height: 380px;
}

.form__body {
  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}

.form__body input {
  font-family: $font--pt-mono;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $white;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;
  margin-bottom: 20px;
  margin-right: 0;
  padding: 15px 60px 15px 15px;

  @media (max-width: $vp-770) {
    margin: 0 0 20px;
  }

  @media (max-width: $vp-320) {
    margin: 0 0 18px;
  }
}

.form__body textarea {
  width: 580px;
  padding: 23px 16px 0 16px;
  background-color: rgba(4, 20, 39, 0.15);
  border-radius: 3px;
  border: none;
  margin-bottom: 32px;
  color: $white;

  @media (max-width: $vp-770) {
    width: 100%;
    padding: 33px 12px 0 12px;
    margin-bottom: 21px;
  }

  @media (max-width: $vp-320) {
    padding: 25px 16px;
    margin-bottom: 33px;
  }
}

.form__body--modal textarea {
  width: 420px;
  margin-bottom: 22px;
}

.form__check {
  position: relative;

  @media (max-width: $vp-320) {
    margin-left: 5px;
  }
}

.form__checkbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 51px;

  @media (max-width: $vp-1024) {
    grid-template-columns: auto 240px;
  }

  @media (max-width: $vp-770) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;
    justify-items: start;
  }

  @include vp-769 {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }
}

.form__checkbox--modal {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.form__checkbox input {
  position: absolute;
  margin: 0;
  width: 15px;
  height: 15px;
  left: 0;
  top: 20px;

  @media (max-width: $vp-770) {
    top: 20px;
  }

  @include vp-769 {
    top: 13px;
  }

  @media (max-width: $vp-320) {
    top: 19px;
  }
}

.form__checkbox--modal input {
  top: 15px;
  margin-left: 8px;
}

.form__checkbox input:checked + .form__checkbox-label::after {
  transform: scale(1);
}

.form__checkbox-label {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  display: flex;
  cursor: pointer;
  margin-top: 13px;
}

.form__checkbox-label::before {
  content: "";
  flex: 0 0 15px;
  height: 15px;
  background-color: $blue;
  margin-right: 11px;
  border: 1px solid $white;
  border-radius: 2px;
  margin-top: 7px;

  @media (max-width: $vp-770) {
    margin-top: 7px;
  }

  @include vp-769 {
    margin-top: 0;
  }

  @media (max-width: $vp-320) {
    margin-top: 6px;
  }
}

.form__checkbox-label--modal::before {
  margin: 2px 10px 0 8px;
}

.form__checkbox-label::after {
  content: "";
  width: 16px;
  height: 15px;
  position: absolute;
  top: 12px;
  left: 3px;
  background-image: url("../img/svg/check-vector.svg");
  background-repeat: no-repeat;
  transform: scale(0);

  @media (max-width: $vp-770) {
    top: 11px;
  }

  @include vp-769 {
    margin-top: -6px;
  }

  @media (max-width: $vp-320) {
    margin-top: 0;
  }
}

.form__checkbox-label--modal::after {
  margin: -6px 0 0 8px;
}

.form__button {
  font-family: $font--roboto-bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  padding: 15px 67px 13px;
  background-color: $dark-color;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.form__button:hover {
  color: #ffffff80;
}

.form__button:active {
  color: #ffffff30;
}

.form__button--modal {
  margin-bottom: 5px;
}
