.main-page {
  background-image: url("../img/desktop-bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $dark-color;
  width: 100%;
  min-height: 880px;
  margin-bottom: 102px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/desctop-bg-image@2x.jpg");
  }

  @media (max-width: $vp-770) {
    background-image: url("../img/tablet-bg-image.jpg");
    min-height: 640px;
    margin-bottom: 79px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/tablet-bg-image@2x.jpg");
    }
  }

  @media (max-width: $vp-320) {
    background-image: url("../img/mobile-bg-image.jpg");
    min-height: 560px;
    margin-bottom: 39px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/mobile-bg-image@2x.jpg");
    }
  }
}

.main-page__header {
  font-family: $font--roboto-bold;
  font-style: normal;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $light-color;
  margin: 285px 0 0 85px;

  @media (max-width: $vp-1024) {
    font-size: 70px;
    margin-left: 30px;
  }

  @media (max-width: $vp-770) {
    font-size: 64px;
    line-height: 75px;
    margin: 0 0 0 26px;
    padding-top: 160px;
  }

  @include vp-769 {
    font-size: 46px;
    margin: 0;
  }

  @media (max-width: $vp-320) {
    font-size: 36px;
    line-height: 42px;
    padding-top: 140px;
    margin-left: 0;
  }
}

.main-page__paragraph {
  font-family: $font--pt-mono;
  font-style: normal;
  font-size: 22px;
  line-height: 155%;
  color: $light-color;
  margin: 32px 0 61px 85px;

  @media (max-width: $vp-1024) {
    margin-left: 30px;
  }

  @media (max-width: $vp-770) {
    margin: 0 0 73px 25px;
  }

  @include vp-769 {
    margin: 8px 0 45px;
    font-size: 14px;
  }
}

.main-page__paragraph br {
  @media (max-width: $vp-320) {
    display: none;
  }
}

.main-page__button {
  font-family: $font--roboto-bold;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $light-color;
  padding: 17px 26px;
  background-color: $blue;
  border: none;
  border-radius: 3px;
  margin-left: 85px;

  @media (max-width: $vp-1024) {
    margin-left: 30px;
  }

  @media (max-width: $vp-770) {
    margin-left: 72px;
  }

  @include vp-769 {
    display: none;
  }
}

.main-page__button:hover {
  color: $dark-color;
}

.main-page__button:active {
  color: #04182730;
}

.main-page__mobile-button {
  display: none;
  font-family: $font--roboto-bold;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $light-color;
  padding: 12px 38px;
  margin-left: 9px;
  background-color: $blue;
  border: none;
  border-radius: 3px;

  @include vp-769 {
    display: inline-block;
    margin: 0;
    padding: 12px 25px;
    min-width: 270px;
  }
}
