.page-header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 3;
  background: linear-gradient(180deg, #041827 84.9%, rgba(4, 24, 39, 0) 100%);
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 1222px;
  padding: 28px 63px 35px 0;

  @media (max-width: $vp-1024) {
    padding: 20px 26px;
    justify-content: space-between;
  }

  @media (max-width: $vp-770) {
    display: block;
  }

  @media (max-width: $vp-320) {
    padding: 15px 0 0 10px;
  }
}

.page-header__nav {
  display: flex;

  @media (max-width: $vp-770) {
    padding-left: 25px;
    padding-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (max-width: $vp-320) {

    padding-left: 16px;
    padding-bottom: 20px;

  }
}

.page-header__logo-group {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-right: 146px;

  @media (max-width: $vp-1280) {
    margin: 0;
  }
}

.page-header__logo-group img {
  @media (max-width: $vp-770) {
    max-width: 55px;
    height: 55px;
  }
  @media (max-width: $vp-320) {
    width: 35px;
    height: 35px;
  }
}
