.services {
  background-color: $dark-color;
  min-height: 960px;
}

.services__container {
  @media (max-width: $vp-770) {
    padding: 58px 51px 74px;
  }

  @media (max-width: $vp-320) {
    padding-bottom: 89px;
  }
}

.services__container h2 {
  color: $white;
  font-family: $font--roboto-regular;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 51px;
  margin: 46px 0 54px -40px;

  @media (max-width: $vp-1440) {
    margin: 0;
  }

  @include vp-769 {
    display: none;

    &.services__header-mobile {
      display: block;
      padding-top: 36px;
      font-size: 28px;
      line-height: 140.62%;
    }
  }
}

.services__header-mobile {
  display: none;
}

.services__list {
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 350px);
  gap: 85px;
  padding: 0;

  @media (max-width: $vp-1440) {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: $vp-770) {
    gap: 29px;
    margin-top: 37px;
  }

  @media (max-width: $vp-320) {
    margin-top: 28px;
  }
}

.services__list h3 {
  font-family: $font--roboto-regular;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: $white;

  @media (max-width: $vp-320) {
    margin-top: 10px;
    font-size: 18px;
    line-height: 167%;
  }
}

.services__item {
  position: relative;
  min-height: 650px;
  width: 350px;
  padding: 26px 43px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $color-default-black;
  z-index: 4;

  @media (max-width: $vp-1440) {
    width: 100%;
    min-height: 350px;
  }

  @media (max-width: $vp-770) {
    padding: 17px 46px;
    min-height: 250px;
  }

  @media (max-width: $vp-320) {
    padding: 17px 29px;
  }
}

.services__item:hover {
  opacity: 0.8;
}

.services__item:active {
  opacity: 0.5;
}

.services__item::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: $blue;
  position: absolute;
  background-image: url("../img/svg/vector.svg");
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
  bottom: 0;

  @media (max-width: $vp-320) {
    height: 40px;
    width: 40px;
  }
}

.services__item--productions {
  background-image: image-set("../img/product-1.jpg" 1x, "../img/product-1@2x.jpg" 2x);

  @media (max-width: $vp-1440) {
    background-image: image-set("../img/product-1-tablet.jpg" 1x, "../img/product-1-tablet@2x.jpg" 2x);
  }

  @media (max-width: $vp-320) {
    background-image: image-set("../img/product-1-mobile.jpg" 1x, "../img/product-1-mobile@2x.jpg" 2x);
  }
}

.services__item--montage {
  background-image: image-set("../img/product-2.jpg" 1x, "../img/product-2@2x.jpg" 2x);

  @media (max-width: $vp-1440) {
    background-image: image-set("../img/product-2-tablet.jpg" 1x, "../img/product-2-tablet@2x.jpg" 2x);
  }

  @media (max-width: $vp-320) {
    background-image: image-set("../img/product-2-mobile.jpg" 1x, "../img/product-2-mobile@2x.jpg" 2x);
  }
}

.services__item--montage br {
  &:first-child {
    display: none;
  }

  @media (max-width: $vp-770) {
    &:first-child {
      display: block;
    }

    display: none;
  }
}

.services__item--components {
  background-image: image-set("../img/product-3.jpg" 1x, "../img/product-3@2x.jpg" 2x);

  @media (max-width: $vp-1440) {
    background-image: image-set("../img/product-3-tablet.jpg" 1x, "../img/product-3-tablet@2x.jpg" 2x);
  }

  @media (max-width: $vp-320) {
    background-image: image-set("../img/product-3-mobile.jpg" 1x, "../img/product-3-mobile@2x.jpg" 2x);
  }
}
