.site-sections {
  position: relative;
  left: 66px;

  @media (max-width: $vp-1280) {
    margin-left: 5px;
    left: 20px;
  }

  @media (max-width: $vp-770) {
    margin-left: 0;
  }
}

.site-sections__title {
  margin: 2px 0 22px;
  padding: 0;
  font: 400 15px/16px $font--roboto-regular;
  color: $white;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  @include vp-769 {
    margin-bottom: 0;
    cursor: pointer;

    &--nojs {
      cursor: default;
    }
  }
}

.site-sections__list {
  margin: 0;
  padding: 0;
  list-style: none;
  column-count: 2;
  column-gap: 30px;
  width: 470px;

  @include vp-1023 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 220px;
  }

  @include vp-769 {
    margin-top: 22px;
    display: none;
  }
}

.site-sections__item {
  margin: 0 0 5px;
}

.site-sections__item:nth-child(4) {
  break-before: avoid;
}

.site-sections__link {
  font: 400 16px/135% $font--pt-mono;
  color: transparentize($white, 0.3);
  outline: none;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      color: $white;
      text-decoration: underline;
    }
  }
}
