.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 20px 40px;

  @include vp-1439 {
    padding: 20px 110px;
  }

  @include vp-1023 {
    padding: 20px 24px;
  }

  @include vp-769 {
    padding: 10px 16px;
  }
}
